body {
    background-color: #F1f1f1;
    color: #444;
    font: 400 16px/1.7 "Microsoft JhengHei", sans-serif;
}

a {
    color: rgb(63, 144, 173);
    text-decoration: none
}

button, input {
    color: rgb(71, 150, 84);
    background-color: #BBBBBB;
}

.meta {
    color: rgb(132, 133, 4);
}

.green {
    color: rgb(87, 146, 66);
}

.red{
    color: rgb(208, 102, 81);
}

#wrap {
    width: 822px;
    margin: 0 auto;
}

#header {
    text-align: center;
}

#nav span{
    padding: 0px 10px;
}

#content h1 {
    text-align: center;
}

.gwimg img{
    width: 64px;
    height: 64px;
    display:inline;
}

#zzf p, #swjz p, #kxzd p, #gswy p, #hyyf p {
    padding-left: 2em;
}

#hyyf a {
    margin-right: 4em;
    white-space:nowrap;
}

#xxpage ul{
    float: left;
}

#footer{
    clear: both;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 767px){
    #wrap {
        width: fit-content;
        padding: 10px 20px;
        font-size:20px;
    }

    #hyyf a {
        margin-right: 2em;
        white-space:normal;
    }
}
