<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ziMapper">

    <select id="queryZi" parameterType="int" resultType="map">
        SELECT id,zi from sw limit #{lm};
    </select>

    <select id="queryMap" parameterType="int" resultType="map">
        SELECT id,zi from sw where id >= 50615 and
        js is not null and js <![CDATA[<>]]> '' or (id >= 50615 and comments is not null and comments <![CDATA[<>]]> '')
    </select>

    <update id="updateAlike" parameterType="string">
        update sw set alike = #{alike}
    </update>

    <select id="selectAlike" resultType="string">
        select alike from sw limit 1
    </select>

    <select id="allHanz" resultType="map">
        select id,zi,yin,key1,kouyu,js,comments,jian,kx,img,cizu2 from sw
        where js is not null and js <![CDATA[<>]]> '' and comments  <![CDATA[<>]]> '' and comments is not null
    </select>

    <select id="allxx" resultType="map">
        select id,zi,yin,key1,kouyu,js,comments,jian,kx,img from sw
        where comments is not null and comments <![CDATA[<>]]> '' and left(comments, 2) = '象形'
        order by key1,length(key1)
    </select>

    <select id="allSubByJian" parameterType="string" resultType="map">
        select id,zi,yin,key1,kouyu,js,comments,jian,kx,img from sw
        where comments is not null and comments <![CDATA[<>]]> '' and BINARY right(jian, 1) = #{str} and jian <![CDATA[<>]]> zi
        order by key1,length(key1)
    </select>

    <select id="lastupdate" resultType="map">
        select id,zi,yin,key1,kouyu,js,comments,jian,kx,lastupdate from sw
        where comments is not null and comments <![CDATA[<>]]> ''
        order by lastupdate desc limit 100
    </select>

    <update id="updateimg" parameterType="map">
        update sw set img = #{img} where zi like '%${zi}%' and zi not like '%【%'
    </update>

    <select id="selectBook" parameterType="string">
        select id,juzi from book where bookName = #{bookName}
    </select>

    <select id="selectBookAll" resultType="map">
        select id,juzi from book
    </select>

    <select id="selectBookWithCizu" parameterType="string" resultType="map">
        select id,juzi,lineIndex,bookName from book where juzi like '%${cizu}%' order by LENGTH(country),country
    </select>

    <select id="selectBookWithlineIndex1" parameterType="string" resultType="map">
        select id,juzi,bookName from book where bookName = #{bookName} and lineIndex = #{lineIndex}

    </select>

    <select id="selectBookWithlineIndex2" parameterType="string" resultType="map">
        select id,juzi,bookName from book where bookName = #{bookName} and lineIndex <![CDATA[>]]> #{lineIndex} limit 1

    </select>

    <insert id="addBook" parameterType="map">
        insert into book (juzi,lineIndex,bookName,like1) value (#{juzi},#{lineIndex},#{bookName},#{like})
    </insert>

    <update id="updateBook" parameterType="map">
        update book set like = #{like} where lineIndex=#{lineIndex} and bookName =#{bookName}
    </update>

    <update id="updatecizu" parameterType="map" >
        update sw set cizu2 = concat(IFNULL(cizu2,''), #{cizu}) where zi like '%${zi}%'
    </update>

    <select id="selectCZZI" parameterType="string" resultType="int">
        select count(1) from sw where  zi like '%${zi}%'
    </select>
</mapper>